@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
 @apply w-full flex justify-center items-center flex-col;
}
.contain {
  @apply w-[98%] xl:w-[1440px];
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
    --bs-blue: #5f6b7d;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --gray:
  --primary-color: #040836;
    --primary-color-rgb: 4, 8, 54;
    --secondary-color: #1AA7EC;
    --secondary-color-2: #797EF6;
    --secondary-color-rgb: 26, 167, 236;
    --secondary-color-rgb-2: 121, 126, 246;
  --bs-font-sans-serif: ;
}
.btn-gradiant{
  background: linear-gradient(toright, #b8f0f1, 0%, #c9cae4, 100%)
}
.sec-1{
  background: linear-gradient(toright, #b8f0f1, 0%, #c9cae4, 100%)
}
